
  
  .myWorkBackgroundImage {
  
      font-family: 'Bangers', cursive;
      background: url('../../src/assets/backgroundImages/black.jpg');
      background-position: center; /* Center the image */
      background-size: cover;
      background-repeat: no-repeat; /* Do not repeat the image */
      border : 15px solid black;
      width: 100%;
      height: 100%;
      text-align: center;
      position: relative; 
      padding: 5rem 5rem;
      margin: 0;
  }

  @media only screen and (min-width: 792px) {
  .ProjectsGrid {
    display: grid;
    grid-template-columns: 20px 1fr 1fr 1fr 20px;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px;
    grid-template-areas: 
    'leftSign projectOneLeft projectMiddle projectThreeRight rightSign'
    'leftSign projectTwoLeft projectMiddle projectTFourRight rightSign'

    ;
    width: 100%;
    height: 100%;

    .leftSign          {   grid-area: leftSign; }
    .rightSign         {   grid-area: rightSign; }
    .projectOneLeft    {   grid-area: projectOneLeft; }
    .projectTwoLeft    {   grid-area: projectTwoLeft; }
    .projectThreeRight {   grid-area: projectThreeRight; }
    .projectTFourRight {   grid-area: projectTFourRight; }
    .projectMiddle     {   grid-area: projectMiddle; 
   
      align-self: center;
      justify-content: center;
      width: 100%;

    }
  }
}

  @media only screen and (max-width: 792px) {

    .ProjectsGrid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 5px;
      grid-template-areas: 
      'leftSign projectMiddle rightSign'
      ' projectOneLeft projectOneLeft projectOneLeft '   
      ' projectTwoLeft projectTwoLeft projectTwoLeft ' 
      ' projectThreeRight projectThreeRight projectThreeRight '
      ' projectTFourRight projectTFourRight projectTFourRight '

      ;
      width: 100%;
      height: 100%;
    }

    .leftSign          {   grid-area: leftSign; }
    .rightSign         {   grid-area: rightSign; }
    .projectOneLeft    {   grid-area: projectOneLeft; }
    .projectTwoLeft    {   grid-area: projectTwoLeft; }
    .projectThreeRight {   grid-area: projectThreeRight; }
    .projectTFourRight {   grid-area: projectTFourRight; }
    .projectMiddle     {   grid-area: projectMiddle; }

  }


