// tablet and smaller monitors/laptops
.about_background_image {
    display: flex;
    font-family: 'Bangers', cursive;
 

    margin: 0;
    padding : 0;
 
    
}



@media only screen and (min-width: 375px) and (max-width: 414px) {
    .gridAbout {
        margin: 0;
        padding : 0;
        display: grid;
        grid-template-columns: 50px 1fr 100px;
        grid-template-rows: 1fr 1fr;
  
        grid-template-areas: 
          'sign_area scroll_area scroll_area'
             
        ; 
        width: 100%;
        height: 100%;
      }
  
      .scroll_area {
          grid-area: scroll_area;
          width: 100%;
          grid-row: 1 / 3;
          grid-column: 2 / 4;

          .scroll_area_text_wrapper {
              text-align: center;
              color: rgb(0, 0, 0) !important;
              letter-spacing: 0.3rem;
              font-size: 3vw;
            }

          
      }     
      
      .sign_area_home {
          grid-area: sign_area_home;
          width: 100%;
          grid-column: 1 / 2;
          grid-row: 2 / 3;
          display: block;
          text-align: end;
         
          .sign_img_wrapper div a img {
              width: 50px;
          }
      }
   
      

}

@media only screen and (min-width: 375px) {
    .gridAbout {
        margin: 0;
        padding : 0;
        display: grid;
        grid-template-columns: 50px 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  
        grid-template-areas: 
          'sign_area_home scroll_area scroll_area'
             
        ; 
        width: 100%;
        height: 100%;
      }
  
      .scroll_area {
          grid-area: scroll_area;
      
          grid-row: 1 / 3;
            grid-column: 2 / 4;

          .scroll_area_text_wrapper {
            width: 65%;
            margin: 0 auto;
            padding-top: 3rem;
            text-align: center;
            color: rgb(252, 252, 252) !important;
            font-size: 3vw;
            letter-spacing: 0.2rem;
            text-shadow: $mobile-text-shadow;
            }

          
      }     
      
      .sign_area_home {
          grid-area: sign_area_home;
          width: 100%;
          grid-column: 1 / 2;
          grid-row: 2 / 3;
          display: block;
          text-align: end;
      }
      .sign_area_work {
          grid-area: sign_area_work;
          width: 100%;
          grid-column: 1 / 2;
          grid-row: 2 / 3;
          display: block;
        
      }
      .sign_img_wrapper a img {
        width: 70%;
  
    }
    .about { font-size: 10vw !important;}
    .AboutContentStyles {
      font-size: 3vw;
    } 
      
    form div a img { width: 30px; height: 100%;}
    button[type=submit] { font-size: 3.5vw;}
     input {
      height: 50%;
      font-size: 4vw;
      width: 100%;
    }

}

@media only screen and (min-width: 414px) { 


    @media only screen and (min-height: 937px) {
      .sign_img_wrapper div a img {
        width: 70px;
    }
  }
}



@media  (min-width: 768px)   {
    
      .scroll_area {
        grid-area: scroll_area;
        grid-row: 1 / 3;
        grid-column: 2 / 4;

        .scroll_area_text_wrapper {
        width: 48%;
        margin: 0 auto;
        padding-top: 3rem;
        text-shadow: $main-text-shadow;
        }   
      }     
       
      .sign_img_wrapper {
          width: 100%;
          height: 100%;
      }
      .sign_img_wrapper a img {
        width: 100%;
  
    }
    .AboutContentStyles {
      font-size: 2.1vw;
      width: 90%;
    } 
    form div a img { width: 50px; height: 100%;}
    form { width: 100%;}
    button[type=submit] { text-align: center; padding : 1rem 0rem ;font-size: 2vw;}
}

@media only screen and (min-width: 1024px) {
    .gridAbout {
      
        grid-template-columns: 250px 1fr 1fr 250px;
        grid-template-rows: 1fr 60%;
        grid-template-areas: 
        'sign_area_home scroll_area scroll_area scroll_area scroll_area'

            
      ; 
      }
  
      .scroll_area {
          grid-area: scroll_area;
          grid-row: 1 / 3;
          grid-column: 2 / 5;

          .scroll_area_text_wrapper {
            width: 65%;
            margin: 0 auto;
            text-align: center;
            color: rgb(235, 235, 235) !important;
            text-shadow: $main-text-shadow;
            font-size: 3vw;
            letter-spacing: 0.1rem;
            }         
      }     
      
      
      
      .sign_area_home         {   
        grid-area: sign_area_home;
        width: 100%;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        padding-right: 0;
      }
      .about { font-size: 7vw !important;}
      .AboutContentStyles {
        font-size: 2.1vw;
        width: 90%;
      
       
      
      } 
      form div a img { width: 50px; height: 100%;}
      form div  { padding: 0.5rem 0;}
      button { padding : 0.5rem 0 !important; font-size: 1.5vw !important;}

      @media only screen and (min-height: 1366px) { 
        form div  { padding: 2rem 0;}

      }
}



@media only screen and (min-width: 1280px) {

    .gridAbout {
      display: grid;
      grid-template-columns: 350px 1fr 1fr 1fr ;
      grid-template-rows: 1fr 1fr;

      grid-template-areas: 
        'sign_area_home scroll_area scroll_area '

            
      ; 
      width: 100%;
      height: 100%;
    }
 
    


    .scroll_area {
    
        grid-area: scroll_area;
        grid-row: 1 / 3;
        grid-column: 1 /5;
        text-shadow: $main-text-shadow;

        .scroll_area_text_wrapper {
            width: 30%;
            margin: 0 auto;
  
          }
          .about {
            font-size : 5vw !important;
          }
        
    }
  
    .sign_area_home {
        grid-area: sign_area_home;
        width: 100%;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
     
    }
    form div { padding: 0.5rem !important;}
    input { font-size: 2.5vw;}

    @media only screen and  (min-height: 720px) { 
      .AboutContentStyles {
      
        width: 100%;
        height: 95%;
            
      } 
    }

}
  

@media only screen and  (min-width: 1680px) {
    .scroll_area_text_wrapper {
        width: 40%;
        margin: 0 auto;

      }
      .scroll_area .about { font-size: 3.2vw !important;}
      .AboutContentStyles {
      
        width: 70%;
        height: 80%;
            
      } 
      input { font-size: 1.5vw;}
      form div a img { width: 50px; height: 100%;}
      form div { padding: 0.5rem !important;}
      button[type=submit] { text-align: center; padding : 0.5rem 0rem !important;font-size: 1rem !important; }
      #textarea { font-size:1.5vw !important;}
 }


 form {
  height: 50%;

 

.input_styles {
    text-align: start;
    background-color: transparent;
    border: none;
    border-bottom: 0.5px dotted rgb(31, 31, 31);;
    border-radius:  25%;
    outline: none;
    text-shadow: 2px 2px 2px  rgb(240, 240, 240);
    margin-top: 3rem;
  
}


> button {
  width: 50px;
    background-color: transparent;
    border: none;
    border-top: 0.5px double rgb(31, 31, 31);
    border-bottom: 0.5px double rgb(31, 31, 31);
    border-radius: 40%;
    color: rgb(31, 31, 31);;
    text-shadow: 2px 2px 2px  rgb(240, 240, 240);
}

::placeholder {
  color: rgb(31, 31, 31);;
  text-shadow: 2px 2px 2px  rgb(240, 240, 240);
}
textarea {
  background-color: transparent;
  border: none;
  width: 70%;
  border-bottom: 0.5px double rgb(31, 31, 31);;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  outline: none;
  margin-top: 3rem;
  height: 75%;
  text-shadow: 2px 2px 2px  rgb(240, 240, 240);
}

}


