

@function randomNum($min, $max) {
      $rand: random();
      $randomNum: $min + floor($rand * (($max - $min) + 1));
      
      @return $randomNum;
      /* e.g. font-size: #{randomNum(5, 10)}px; */
}

.contentWrapper {
      color: white;
      padding: 1rem;
      text-shadow: $mobile-text-shadow;
      font-size: 20px;
      letter-spacing: 0.5px;
      @include breakpoint(mobile)  { font-size: 20px;  }

            @include breakpoint(smallLaptop) {
                  font-size: 30px;
                  padding: 1.5rem;

            }
            @include breakpoint(biggerLaptop) {
                  font-size: 20px;
                  padding: 1.5rem;

            }
            @include breakpoint(desktop)      { font-size: 35px; }
            @include breakpoint(biggerDesktop)      { font-size: 30px;  }




      .content__first__paragraph {
            margin: 0;
            
      }
      .name--key--word {
      letter-spacing: 1.3px;
      font-size: 35px;
      margin: 1rem 0rem;
     
          
      }
      .content--key--words {
            color: $specify-key-words-color;

            @include breakpoint(smallLaptop)  { font-size: 40px;  }
            @include breakpoint(biggerLaptop) { font-size: 30px;  }
            @include breakpoint(desktop)      { font-size: 40px;  }
            @include breakpoint(biggerDesktop)      { font-size: 40px;  }
           
      }
}


.previews a {  
  font-size: 1.3rem;color: 
  black;font-family: 'Bangers', cursive;text-shadow:   0px 2px 4px #212121; 

}


.main_wrapper  {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.avatar_wrapper{ 
      width: 100%; 
      display: flex; 
      align-items: flex-end; 
      position:relative;
      @include breakpoint(smallLaptop) {
        padding-top: 5rem;
      }
      @include breakpoint(biggerLaptop) { 
        margin-top: 6rem;
     
      }      
      @include breakpoint(desktop) { 
        margin-top: 13.3rem;
     
      }           
      @include breakpoint(biggerDesktop) { 
        margin-top: 15rem;
       }         
}

.avatar__movement__controller {
  text-align: center;
  margin-top: 2.5rem;

}

.sign__wrapper {
  
  display: none;
  @include breakpoint(biggerLaptop) { 
  display: inline-block;
  position: relative;
}  

@include breakpoint(desktop) { 
  display: inline-block;
  position: relative;
}  
@include breakpoint(biggerDesktop) { 
  display: inline-block;
  position: relative;
}  
  .sign__text{
    &:hover {
      color: rgb(248, 79, 107);
      text-decoration: none;
     
}
    position: absolute;
    padding: 5.5rem 0;
@include breakpoint(desktop) { 
  padding: 5rem 0;

}
@include breakpoint(biggerDesktop) { 
  padding: 5rem 0;

}
    color: white;
    font-size: 40px;
    transform: rotate(-15deg);;
    left: 140px;
  }
  .sign__right {
      display: inline-block;
      width: 300px;
      height: 350px;
  
    
  }
}



.hello_wrapper {

      padding: 2rem; 
      color: white;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-shadow:  $main-text-shadow;
}





// img and nav controller wrapper 
.avatar_inner_wrapper{ 
      display:flex; 
      justify-content:space-between; 
      padding-top: 1.8%; 
      align-items: center; 
      height:100%;
      width: 100%;
 
.item{
      width: 100%;
      height: auto;
      position:relative;
      cursor:pointer;
  //avatar image wrapper
  .content{  
        // width:100%;  
        // display:flex;  
        // justify-content: center;  
        transform:rotate(0) scale(1.31);  
        transition:all .2s cubic-bezier(.28,.05,.65,.97);

        img {
          width: 200px;
          @include breakpoint(smallLaptop) { 
          width: 300px;
                 
           }
           @include breakpoint(biggerLaptop) { 
            width: 300px;
                   
             }
             @include breakpoint(desktop) { 
              width: 300px;
                     
               }
               @include breakpoint(biggerDesktop) { 
                width: 300px;
                       
                 }
     
        }
  }  
  .previews{  
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    bottom:0;   
    left:50%;   
    z-index:-1;  
    // &:nth-child(2)
    .preview-image  {
      
     }
    .preview-image{ 
          font-size: 20px;
          color: black;
          width:160px;
           height:110px; 
           transition:all .2s cubic-bezier(.28,.05,.65,.97); 
           position:absolute; bottom:10px; 
           opacity: 0;  
                @include breakpoint(mobile) { 
                  opacity: 1;   
                  position: relative; 
               }   
                @include breakpoint(smallLaptop) { 
                  opacity: 1;   
                  position: relative; 
                }    
                @include breakpoint(biggerLaptop) { 
                  left: 47%;
                }  
                @include breakpoint(desktop) { 
                  left: 47%;
                }               
    } 
  }
  
  @include breakpoint(biggerLaptop) {
    
    &:hover{


      z-index:5;
      
      .content{
        transform:rotate(0) scale(1.1); 
        animation:shake .4s 1; 
        animation-delay:.4s; 
        transition:all .3s cubic-bezier(.28,.05,.65,.97);
    
        &:after{
              width:0;transition:all .3s cubic-bezier(.28,.05,.65,.97);
        }   
      }
  
      .previews{
       
     
        // @include breakpoint(desktop) { display: block; }
        // @include breakpoint(biggerDesktop) { display: block; }
       .preview-image{
       
          transition:all .2s cubic-bezier(.28,.05,.65,.97); 
          opacity: 1;  
          z-index:5;
  
          &:nth-child(1){
            transform:rotate(#{randomNum(-10, 10)}deg) 
            translate(-260px, -170px);
            transition-delay:.2s;
          }
          &:nth-child(2){
            transform:rotate(#{randomNum(-10, 10)}deg) 
            translate(-245px, -35px);
            transition-delay:.25s;
          }
          &:nth-child(3){
            transform:rotate(#{randomNum(-10, 10)}deg) 
            translate(130px, -185px);
            transition-delay:.35s;
          }
          &:nth-child(4){
            transform:rotate(#{randomNum(-10, 10)}deg) 
            translate(150px, -40px);
            transition-delay:.35s;
          }
        
        } 
      }
  
     
  
    }
  }

  @include breakpoint(desktop) {  
 
    &:hover{


      z-index:5;
      
      .content{
        transform:rotate(0) scale(1.1); 
        animation:shake .4s 1; 
        animation-delay:.4s; 
        transition:all .3s cubic-bezier(.28,.05,.65,.97);
    
        &:after{
              width:0;transition:all .3s cubic-bezier(.28,.05,.65,.97);
        }   
      }
  
      .previews{
       
     
       .preview-image{
       
          transition:all .2s cubic-bezier(.28,.05,.65,.97); 
          opacity: 1;  
          z-index:5;
  
          &:nth-child(1){
            transform:rotate(#{randomNum(-10, 10)}deg) 
            translate(-260px, -170px);
            transition-delay:.2s;
          }
          &:nth-child(2){
            transform:rotate(#{randomNum(-10, 10)}deg) 
            translate(-245px, -35px);
            transition-delay:.25s;
          }
          &:nth-child(3){
            transform:rotate(#{randomNum(-10, 10)}deg) 
            translate(130px, -185px);
            transition-delay:.35s;
          }
          &:nth-child(4){
            transform:rotate(#{randomNum(-10, 10)}deg) 
            translate(150px, -40px);
            transition-delay:.35s;
          }
        
        } 
      }
      .previews a {  
            font-size: 1.3rem;color: 
            black;font-family: 'Bangers', cursive;text-shadow:   0px 2px 4px #212121; 
        }
  
    }

  }

  @include breakpoint(biggerDesktop) {  
 
    &:hover{


      z-index:5;
      
      .content{
        transform:rotate(0) scale(1.1); 
        animation:shake .4s 1; 
        animation-delay:.4s; 
        transition:all .3s cubic-bezier(.28,.05,.65,.97);
    
        &:after{
              width:0;transition:all .3s cubic-bezier(.28,.05,.65,.97);
        }   
      }
  
      .previews{
       
     
       
       .preview-image{
       
          transition:all .2s cubic-bezier(.28,.05,.65,.97); 
          opacity: 1;  
          z-index:5;
  
          &:nth-child(1){
            transform:rotate(#{randomNum(-10, 10)}deg) 
            translate(-260px, -190px);
            transition-delay:.2s;
          }
          &:nth-child(2){
            transform:rotate(#{randomNum(-10, 10)}deg) 
            translate(-245px, -35px);
            transition-delay:.25s;
          }
          &:nth-child(3){
            transform:rotate(#{randomNum(-10, 10)}deg) 
            translate(200px, -225px);
            transition-delay:.35s;
          }
          &:nth-child(4){
            transform:rotate(#{randomNum(-10, 10)}deg) 
            translate(230px, -50px);
            transition-delay:.35s;
          }
        
        } 
      }
    
  
    }

  }


  

  // nav cartoon background images
  // nav controller links
  #preview-home {
    background: url('../../src/assets/cartoonImages/about.png')center center no-repeat;
    background-size: 140px auto;      
  }
  .homeLink {
    position: absolute;
    padding: 2.7rem 0 0 3rem;
  }
  #preview-about {
    background: url('../../src/assets/cartoonImages/about.png') center center no-repeat;
    background-size: 140px auto;   
  }      
  .aboutLink {
    position: absolute;
    padding: 2.7rem 0 0 2.7rem;
  }

  #preview-work {
    background: url('../../src/assets/cartoonImages/contact.png') center center no-repeat;
    background-size: 120px auto;      
  }       
  .workLink {
    position: absolute;  padding: 2.5rem 0 0 3.7rem;
  }
  #preview-contact {
    background: url('../../src/assets/cartoonImages/contact.png') center center no-repeat;
    background-size: 120px auto;   
  }      
  .contactLink {
    position: absolute;
    padding: 2.5rem 0 0 3.7rem;

  }  
  #preview-greetings {
    background: url('../../src/assets/cartoonImages/hey.png') center center no-repeat;
    background-size: 180px auto;
    opacity: 1;
    transform: translate(-60px, -340px);
    display: none;
    @include breakpoint(biggerLaptop) { display: block; }
    @include breakpoint(desktop) { 
      display: block;
     transform: translate(-60px, -400px);
     
    }
    @include breakpoint(biggerDesktop) { 
      display: block; 
     transform: translate(-10px, -350px);

    }


  }
  .greetingsLink {
    position: absolute;
    padding: 2.1rem 0 0 3.5rem;
    color: black;
    font-family: 'Bangers', cursive;
    text-shadow:   0px 2px 4px #212121;
    font-size: 1.2vw;

  }    
  @keyframes shake{
    0%{ transform:rotate(3deg) scale(1.1) }
    20%{ transform:rotate(-3deg) scale(1.1) }
    40%{ transform:rotate(3deg) scale(1.1) }
    60%{ transform:rotate(-3deg) scale(1.1) }
    80%{ transform:rotate(3deg) scale(1.1) }
    100%{ transform:rotate(0) scale(1.1) }
  }
}
}
.hello_wrapper { 
      padding: 5rem; 
      color: white;
            -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-shadow:  $main-text-shadow;
}
.timer {  color: rgb(248, 79, 107);}
.name_wrapper {   color: rgb(248, 79, 107); }