
.profilePicture {
  display: flex;
  font-family: 'Bangers', cursive;

  width: 100%;
  height: 100vh;
 

}

.timer {     color: rgb(248, 79, 107); text-shadow: $mobile-text-shadow; letter-spacing: 0.15rem;}
// mobile device media querry

// tablet and smaller monitors/laptops
@media (min-width: 325px) and (max-width: 414px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    'title'
    'header'
    ;

  }

  .title {  grid-area: title; }
  .header { grid-area: header; }
  .sidebar {  grid-area: sidebar;  display: none; }


  //image width and movement controller 
  .content{text-align: center;padding-top: 0rem;
    img {  width: 40%;  height: 25vh;
    }  
  }
    
    .item{  width: 100%;  height: auto;  position:relative;  cursor:pointer;
        
  
      .previews{
        display: flex;justify-content: center;flex-wrap: wrap;
        .preview-image{ width:130px; height:110px; bottom:10px; left: 47%;opacity: 1;      }  
      }  
  
        .previews a {  
         font-size: 1.3rem; color: black; font-family: 'Bangers', cursive; text-shadow:   0px 2px 4px #212121,  

        }
  

  
      // nav cartoon background images
      // nav controller links
      #preview-home {
        background: url('../../src/assets/cartoonImages/about.png') center center no-repeat;
        background-size: 120px auto;    
      }
      .homeLink {
        position: absolute;
        padding: 2.7rem 0 0 2rem;
      }
      #preview-about {
        background: url('../../src/assets/cartoonImages/about.png') center center no-repeat;
        background-size: 120px auto;     
      }      
      .aboutLink { position: absolute; padding: 2.7rem 0 0 2rem;  }
  
      #preview-work {
        background: url('../../src/assets/cartoonImages/contact.png') center center no-repeat;
        background-size: 120px auto;    
      }
          
      .workLink {
        position: absolute;
        padding: 2.5rem 0 0 2.5rem;
      }
      #preview-contact {
        background: url('../../src/assets/cartoonImages/contact.png') center center no-repeat;
        background-size: 120px auto;    
      }       
      .contactLink {
        position: absolute;
        padding: 2.5rem 0 0 2.6rem;
      }    
      #preview-greetings {
        display: none;
        background: url('../../src/assets/cartoonImages/hey.png') center center no-repeat;
        background-size: 180px auto;    
      }
    }

    .hello_wrapper { padding: 2rem; color: white; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-shadow:  $main-text-shadow;
      h2 { font-size: 5vw !important;  }
    }
    .name_wrapper { color: rgb(248, 79, 107); }
}

@media only screen and (min-width: 414px) { 
  .content{ text-align: center; padding-top: 2rem; img {   width: 40%;   height: 25vh; }   }   
    .item{ width: 100%; height: auto; position:relative; cursor:pointer;      
      .previews{  display: flex; justify-content: center;  flex-wrap: wrap;
      .preview-image{ width:130px; height:110px; bottom:10px; left: 47%; opacity: 1;              
        }  
      }  
  
      .previews a { font-size: 1.3rem; color: black; font-family: 'Bangers', cursive; text-shadow:   0px 2px 4px #212121,      }
      .avatar_wrapper{ padding: 0 !important;}
      // nav cartoon background images
      // nav controller links
      #preview-home { background: url('../../src/assets/cartoonImages/about.png') center center no-repeat; background-size: 120px auto;       }
      .homeLink { position: absolute; padding: 2.7rem 0 0 2rem; }
      #preview-about { background: url('../../src/assets/cartoonImages/about.png') center center no-repeat; background-size: 120px auto;   }     
      .aboutLink { position: absolute; padding: 2.7rem 0 0 2rem;  }
      #preview-work { background: url('../../src/assets/cartoonImages/contact.png') center center no-repeat; background-size: 120px auto;  }     
      .workLink {position: absolute;padding: 2.5rem 0 0 2.5rem;  }
      #preview-contact { background: url('../../src/assets/cartoonImages/contact.png') center center no-repeat; background-size: 120px auto;      }        
      .contactLink { position: absolute; padding: 2.5rem 0 0 2.6rem;  }    
  
      #preview-greetings { display: none; background: url('../../src/assets/cartoonImages/hey.png') center center no-repeat; background-size: 180px auto; }}
        .hello_wrapper {padding: 2rem; color: white;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;text-shadow:  $main-text-shadow;
      h2 { font-size: 5vw !important; }}
  
      .name_wrapper { color: rgb(248, 79, 107); }
      .sidebar { display : none;}

      @media only screen and (min-height: 906px) { 
        .avatar_inner_wrapper {padding-top: 7.8rem;  }
      }

    @media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 2) {
      .avatar_inner_wrapper {padding-top: 7.4rem;  }
     }

}

@media only screen and (min-width: 768px) { 


  @media only screen and (min-height: 903px) { 
    .avatar_inner_wrapper {padding-top: 12rem; }}
  @media only screen and (min-height: 1024px) { 
    .avatar_inner_wrapper { padding-top: 16rem;}}

    .avatar_inner_wrapper { padding-top: 16rem; } 

 }
// tablet laptop small desktop display
@media only screen and (min-width: 1024px) {

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 250px;
    grid-template-rows: 1fr 500px;
    grid-template-areas: 
    'title title title'
    'header header sidebar'
    ;
    width: 100%;
  }


  .title {  grid-area: title; }
  .header {  grid-area: header; padding-top: 8.7rem; }
  .sidebar { display : block; grid-area: sidebar;  display: block;  text-align: end;}
 
  .avatar_wrapper{ width: 100%; display: flex; align-items: flex-end; position:relative;}
  .hello_wrapper {padding: 2rem; color: white;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;text-shadow:  $main-text-shadow;}

@function randomNum($min, $max) {
  $rand: random();
  $randomNum: $min + floor($rand * (($max - $min) + 1));

  @return $randomNum;
  /* e.g. font-size: #{randomNum(5, 10)}px; */
}

  

// img and nav controller wrapper 
.avatar_inner_wrapper{ display:flex; justify-content:space-between; padding-top: 1.8%; align-items: center; height:100%;
   
  .item{width: 100%;height: auto;position:relative;cursor:pointer;

    //avatar image wrapper
    .content{  width:100%;  display:flex;  justify-content: center;  transform:rotate(0) scale(1.31);  transition:all .2s cubic-bezier(.28,.05,.65,.97);

    }  
    .previews{  bottom:0;   left:50%;   z-index:-1;  &:nth-child(2){
      .preview-image{ right:0; }} 
      .preview-image{ width:160px; height:110px; transition:all .2s cubic-bezier(.28,.05,.65,.97); position:absolute; bottom:10px; left: 47%; opacity: 0;           
      } 
    }
    
    &:hover{
      z-index:5;
      
      .content{
        transform:rotate(0) scale(1.1); animation:shake .4s 1; animation-delay:.4s; transition:all .3s cubic-bezier(.28,.05,.65,.97);
    
        &:after{width:0;transition:all .3s cubic-bezier(.28,.05,.65,.97);
        }   
      }

      .previews{
       .preview-image{
          transition:all .2s cubic-bezier(.28,.05,.65,.97); opacity: 1;  z-index:5;

          &:nth-child(1){
            transform:rotate(#{randomNum(-10, 10)}deg) translate(-260px, -170px);
            transition-delay:.2s;
          }
          &:nth-child(2){
            transform:rotate(#{randomNum(-10, 10)}deg) translate(-245px, -35px);
            transition-delay:.25s;
          }
          &:nth-child(3){
            transform:rotate(#{randomNum(-10, 10)}deg) translate(130px, -185px);
            transition-delay:.35s;
          }
          &:nth-child(4){
            transform:rotate(#{randomNum(-10, 10)}deg) translate(150px, -40px);
            transition-delay:.35s;
          }
        
        } 
      }
      .previews a {  font-size: 1.3rem;color: black;font-family: 'Bangers', cursive;text-shadow:   0px 2px 4px #212121; 
        }

    }
    

    // nav cartoon background images
    // nav controller links
    #preview-home {
      background: url('../../src/assets/cartoonImages/about.png') center center no-repeat;
      background-size: 140px auto;      
    }
    .homeLink {
      position: absolute;
      padding: 2.7rem 0 0 3rem;
    }
    #preview-about {
      background: url('../../src/assets/cartoonImages/about.png') center center no-repeat;
      background-size: 140px auto;   
    }      
    .aboutLink {
      position: absolute;
      padding: 2.7rem 0 0 2.7rem;
    }

    #preview-work {
      background: url('../../src/assets/cartoonImages/contact.png') center center no-repeat;
      background-size: 120px auto;      
    }       
    .workLink {
      position: absolute;  padding: 2.5rem 0 0 3.7rem;
    }
    #preview-contact {
      background: url('../../src/assets/cartoonImages/contact.png') center center no-repeat;
      background-size: 120px auto;   
    }      
    .contactLink {
      position: absolute;
      padding: 2.5rem 0 0 3.7rem;
    }  
    #preview-greetings {
      background: url('../../src/assets/cartoonImages/hey.png') center center no-repeat;
      background-size: 180px auto;
      opacity: 1;
      transform: translate(-60px, -340px);
      display: block
    }
    .greetingsLink {
      position: absolute;
      padding: 2.1rem 0 0 3.5rem;
      color: black;
      font-family: 'Bangers', cursive;
      text-shadow:   0px 2px 4px #212121;
      font-size: 1.2vw;

    }    
    @keyframes shake{
      0%{ transform:rotate(3deg) scale(1.1) }
      20%{ transform:rotate(-3deg) scale(1.1) }
      40%{ transform:rotate(3deg) scale(1.1) }
      60%{ transform:rotate(-3deg) scale(1.1) }
      80%{ transform:rotate(3deg) scale(1.1) }
      100%{ transform:rotate(0) scale(1.1) }
    }
  }
}
  .hello_wrapper { padding: 5rem; color: white; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-shadow:  $main-text-shadow;
  }

  .name_wrapper {   color: rgb(248, 79, 107); }

  @media only screen and (min-height: 1024px) { 
    .header {   padding-top: 3.5rem; }  
   }

  @media only screen and (min-height: 1366px) { 
    .header {   padding-top: 1.7rem; }  
   }

}

// big screen displays media querry

@media only screen and (min-width: 1280px) {

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 350px;
    grid-template-rows: 1fr;
    grid-template-areas: 
    'title title title'
    'header header sidebar'

    ;
    width: 100%;

 
  }
  .hello_wrapper {
    padding: 2rem;

    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow:  $main-text-shadow;

    h2 {
      font-size: 3vw !important;
    }
  }

  .title { grid-area: title; }
  .header { grid-area: header;
  .sidebar { grid-area: sidebar;  display: block; }
  .avatar_wrapper {padding: 0 0 4.2rem 13rem; display: flex; justify-content: center; }
  
  .content{ width:100%; display:flex; justify-content: center; transform:rotate(0) scale(1.11); transition:all .2s cubic-bezier(.28,.05,.65,.97);

    img { width: 28%; }
  }

}
}

@media only screen and (min-width: 1366px) {
  .hello_wrapper {
    h2 {
      font-size: 2vw !important;
    }
  }

}