




.myWorkWrapper {
  font-family: 'Bangers', cursive !important;

  color : black;
  width: 100%;
  background-color: black;
}




#projectBox {
  height: 50vh;
  width: 100%;
  margin: 0 auto;
}
@media only screen and (min-width: 325px) {
  
.myWorkInnerWrapper {
  display: block;
  justify-content: center;
  width: 100%;
 

}
.myWorkInnerWrapper a {font-size: 6vw !important; }
  .topLeft { background-image: url('../assets/ProjectPageAssets/one.jpg')  ; background-repeat: no-repeat; background-position: center; background-size: 100% 120%; display: flex; justify-content: center; align-items: center; border: 15px solid black; border-bottom: 5px; border-radius:0 0 0  250px;}

  .bottomLeft { background-image: url('../assets/ProjectPageAssets/two.jpg')  ;background-repeat: no-repeat;background-position: center;background-size: 100% 110%;display: flex;justify-content: center;align-items: center;border: 15px solid black;padding-left: 2rem;border-radius: 250px 0 0  0;}

  .centerLeft { position: relative; img { position: absolute; left:  0; width: 120px; height: 120px; top: -40px; transform: rotate(195deg); }}
  .topRight {  background-image: url('../assets/ProjectPageAssets/three.jpg')  ; background-repeat: no-repeat; background-position: center; background-size: 100% 102%; display: flex; justify-content: center; align-items: center; border: 15px solid black; border-bottom: 5px; border-radius: 0  0  250px 0  ;  }

  .bottomRight {  background-image: url('../assets/ProjectPageAssets/four.jpg')  ; background-repeat: no-repeat; background-position: center; background-size: 100% 100%; display: flex; justify-content: center; align-items: center; border: 15px solid black; padding-top: 1rem; border-radius:  0 250px  0  0  ;}
  .centerRight {position: relative; width: 100%; img { position: absolute; width: 120px; height: 120px; right: 0; top: -50px;  }}
  .myProjects {position: relative; text-align: center;     color: rgb(235, 235, 235) !important;   text-shadow: $main-text-shadow;  }
 }

 @media only screen and (min-width: 1024px) { 

  .myWorkInnerWrapper {  display: flex;  justify-content: center;  width: 100%; }
  .myWorkInnerWrapper a {font-size: 6vw !important; }
  .topLeft     { border: 15px solid black; border-bottom: 5px; border-radius:0 0  250px 250px ; }
  .bottomLeft  { border : 15px solid black;padding-left: 2rem;border-radius:  250px 250px 0  0; }
  .centerLeft  { position: relative; img { position: absolute; left:  20px; width: 120px; height: 120px; top: -60px; transform: rotate(195deg); }}
  .topRight    { border: 15px solid black; border-bottom: 5px; border-radius: 0  0   250px  250px ; }
  .bottomRight { border: 15px solid black; padding-top: 1rem; border-radius:  250px 250px   0  0  ; }
  .centerRight { position: relative; width: 100%; img { position: absolute; width: 120px; height: 120px; right: 20px; top: -50px;  }}
  .myProjects  { position: absolute; top: 47%;  }
 

}

@media only screen and (min-width: 1280px) {  .myWorkInnerWrapper a {font-size: 3vw !important; } }
