// tablet and smaller monitors/laptops
.contact_background_image {
      display: flex;
      font-family: 'Bangers', cursive !important;
      background:  url('../../src/assets/backgroundImages/test1.png');
      background-position:  bottom; /* Center the image */
      background-repeat:  no-repeat; /* Do not repeat the image */
      border : 15px solid black;
      width: 100%;
      height: 100vh;
      margin: 0;
      padding : 0;
      font-family: 'Smokum', cursive;
      color : rgb(31, 31, 31);
      text-shadow: 2px 2px 2px  rgb(240, 240, 240);
      
  }

  
  
  @media only screen and (max-width: 375px) {
      .contact_background_image { height: auto; background-size: cover; }
     
      
      .gridContact {
          margin: 0;
          padding-left : 0.5rem;
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: 100px 1fr 1fr;
          grid-gap: 5px;
          grid-template-areas: 
            'contact_sign_area contact_wanted_scroll_area contact_form_scroll_area'; 
     
        .contact_wanted_scroll_area {
            grid-area: contact_scroll_area;
            width: 100%;
            grid-row: 2 / 3;
            grid-column: 1 / 2;
        }
    
        .contact_form_scroll_area {
            grid-area: contact_scroll_area;
            width: 100%;
            grid-row: 3 / 4;
            grid-column: 1 / 2;
  
            .contact_scroll_area_text_wrapper {
                text-align: center;
                color: rgb(235, 235, 235) !important;
                letter-spacing: 0.3rem;
              }
  
            
        }     
        .contact_sign_area_home {
            grid-area: contact_sign_area_home;
            width: 100%;
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            display: block;
            text-align: center;
          
           
        }
      }

      .ContactContentStyles {
            font-size: 6vw;
            padding-top: 4rem;
      }

        .wanted_img_wrapper img { 
            width: 40%;
        }
   
        .contact { font-size: 20vw;}
    
  
  }
  @media only screen and (min-width: 375px) {
      .contact_background_image     { height: auto; background-size: cover; }
      
      .gridContact                  { padding-left : 0.5rem;  
      .contact_sign_area_home       { text-align: center;   }
      }

      .ContactContentStyles         { font-size: 6vw; padding-top: 4rem; width : 70%;}

      .wanted_img_wrapper img       {  width: 35%;  }
      
      .contact                      { font-size: 13vw;}

      .sign_img_wrapper div         { width: 35%;   }
      .sign_img_wrapper             { display: flex; justify-content: center}
      .contact_sign_area_home       
      .icons_wrapper div            { width: 60%; }
      .icons_wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
      }
    
  
  }

  @media only screen and (min-width: 478px) {
      .contact_background_image     { height: auto; background-size: cover; }
      
      .gridContact                  { padding-left : 0.5rem;  
      .contact_sign_area_home       { text-align: center;   }
      }

      .ContactContentStyles         { font-size: 7vw; padding-top: 4rem; }

      .wanted_img_wrapper img       {  width: 30%;  }

      .icons_wrapper div            { width: 70%; }
      
      .contact                      { font-size: 16vw;}

      .icons_wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
      }
    
  
  }

  @media only screen and (min-width: 640px) {

      .ContactContentStyles         { font-size: 5vw; padding-top: 4rem; width: 70%; }
     

  }

  @media only screen and (min-width: 768px) {
      .contact_background_image     { height: 100vh; background-size: cover; }
      

      .gridContact {
            margin: 0;
            padding : 0 0.2rem;
            display: grid;
            grid-gap: 20px;
            
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 150px 1fr ;
            grid-gap: 5px;
            grid-template-areas: 
              'contact_sign_area contact_wanted_scroll_area contact_form_scroll_area'; 
       
          .contact_wanted_scroll_area {
              grid-area: contact_scroll_area;
              width: 100%;
              grid-row: 2 / 3;
              grid-column: 1 / 3;
          }
      
          .contact_form_scroll_area {
              grid-area: contact_scroll_area;
              width: 100%;
              grid-row: 2 / 3;
              grid-column: 3 / 5;
    
              .contact_scroll_area_text_wrapper {
                  text-align: center;
                  color: rgb(235, 235, 235) !important;
                  letter-spacing: 0.3rem;
                }
    
              
          }     
         
          .contact_sign_area_home {
              grid-area: contact_sign_area_home;
              width: 100%;
              grid-column: 2 / 4;
              grid-row: 1 / 2;
              display: block;
              text-align: center;
             
          }
        }
  
        .ContactContentStyles         { font-size: 4vw; padding-top: 5rem; width : 70%;   }
  
        .wanted_img_wrapper img       { width: 45%; }
      
        .icons_wrapper div            { width: 120%; }

      
      
        .contact                      { font-size: 10vw;}
  
        .icons_wrapper {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
        }
  
  }

  @media only screen and (min-width: 992px) {
      .contact_background_image     { height: 100vh; background-size: cover; }
      

      .gridContact {
            margin: 0;
            padding : 0;
            display: grid;
            grid-gap: 20px; 
            grid-template-columns: 250px 1fr 1fr 20px 1fr 150px;
            grid-template-rows: 50px 1fr ;
            grid-gap: 5px;
            grid-template-areas: 
              'contact_sign_area contact_wanted_scroll_area contact_form_scroll_area'; 
       
          .contact_wanted_scroll_area {
              grid-area: contact_scroll_area;
              width: 100%;
              grid-row: 2 / 3;
              grid-column: 2 / 4;
          }
      
          .contact_form_scroll_area {
              grid-area: contact_scroll_area;
              width: 100%;
              grid-row: 2 / 3;
              grid-column: 5 / 7;
    
              .contact_scroll_area_text_wrapper {
                  text-align: center;
                  color: rgb(235, 235, 235) !important;
                  letter-spacing: 0.3rem;
                }
    
              
          }     
        
          .contact_sign_area_home {
              grid-area: contact_sign_area_home;
              width: 100%;
              grid-column: 1 / 2;
              grid-row: 2 / 3;
              display: block;
              text-align: center;
              padding-top: 20rem;
             a {
                   font-size: 4vw;
             }
          }
        }
  
        .ContactContentStyles         { font-size: 3vw; padding-top: 5rem; width : 70%;   }
  
        .wanted_img_wrapper img       { width: 45%; }
      
        .icons_wrapper div            { width: 120%; }

   
      
        .contact                      { font-size: 8vw;}
  
        .icons_wrapper {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
        }



  }

  
  @media only screen and (min-width: 1200px) {
      .contact_background_image       { height: 100vh; background-size: auto; }
 
        .ContactContentStyles         { font-size: 2.5vw; padding-top: 4.5rem; width : 70%;   }
  
        .wanted_img_wrapper img       { width: 45%; }
      
        .icons_wrapper div            { width: 100%; }

    
      
        .contact                      { font-size: 6vw;}
  
        .icons_wrapper {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
        }


  }

   @media only screen and (min-width: 1400px) {
      .contact_background_image       { height: 100vh; background-size: auto; }
      .contact_sign_area_home         {  a {  font-size: 3vw !important;  }   }
  
        .ContactContentStyles         { font-size: 2.1vw; padding-top: 4.5rem; width : 70%;   }
  
        .wanted_img_wrapper img       { width: 35%; }
      
        .icons_wrapper div            { width: 80%; }
  
      
        .contact                      { font-size: 6vw;}
  
        .icons_wrapper {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
        }


  }

  @media only screen and (min-width: 1600px) {
      .contact_background_image       { height: 100vh; background-size: auto; }

      .gridContact                    { grid-template-columns: 300px 1fr 1fr 20px 1fr 1fr 200px;  width: 100%;    }
  
      .ContactContentStyles           { text-shadow: contactPage; font-size: 2vw ; padding-top: 4rem; width : 70%;   }

      .contact                        { font-size: 5vw ; }

  }

  @media only screen and (min-width: 1900px) {
    
      .contact_sign_area_home       {  margin: 3.5rem 0 0 1rem; a {  font-size: 2.5vw !important; font-family: 'Bangers', cursive;   }    }
  
      .ContactContentStyles           { font-size: 1.8vw ; padding-top: 1rem; width : 70%;   }

      .icons_wrapper div            { width: 70%; }

   

  }



  form {
      height: 45%;
 
    .input_styles {
        text-align: start;
        background-color: transparent;
        border: none;
        border-bottom: 0.5px dotted rgb(31, 31, 31);;
        border-radius: 30%;
        outline: none;
        text-shadow: 2px 2px 2px  rgb(240, 240, 240);
        margin-top: 3rem;
      
    }
  
    > button {
        background-color: transparent;
        border: none;
        border-top: 0.5px double rgb(31, 31, 31);
        border-bottom: 0.5px double rgb(31, 31, 31);
        border-radius: 45%;
        color: rgb(31, 31, 31);;
        text-shadow: 2px 2px 2px  rgb(240, 240, 240);
    }
  
    ::placeholder {
      color: rgb(31, 31, 31);;
      text-shadow: 2px 2px 2px  rgb(240, 240, 240);
  }
    textarea {
      background-color: transparent;
      border: none;
      width: 70%;
      border-bottom: 0.5px double rgb(31, 31, 31);;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
      outline: none;
      margin-top: 3rem;
      height: 75%;
      text-shadow: 2px 2px 2px  rgb(240, 240, 240);
    }
  
  }












