.myWorkBackgroundImage {
  
  font-family: 'Bangers', cursive;
  background : url('../../src/assets/backgroundImages/livin.jpg') center center no-repeat;
  background-position: center  ; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  border : 15px solid black;
  width: 100%;
  height: 100vh;
  text-align: center;
  position: relative; 
  margin: 0;
  *:focus {
    outline: 0 !important;
  }
}



@media only screen and (min-width: 375px) {
  .myWorkBackgroundImage { background-size: cover; }
    
    
  .ProjectsGrid {
    display: grid;
    grid-template-columns: 50px 1fr 50px ;
    grid-template-rows: 1fr 150px 150px 1fr ;
    grid-template-areas: 
    'leftSign radioButton projectMiddle tvButton rightSign'
  

    ;
    width: 100%;
    height: 97vh;
    
  }


  .leftSign            {   grid-area: leftSign; grid-row: 3 / 4; padding-top: 3rem;}
  .rightSign           {   grid-area: rightSign; grid-row: 3 / 4; grid-column: 3 / 4; padding-top: 3rem;}
  .tvButton            {   grid-area: tvButton; grid-column: 2 / 3; grid-row: 2 / 3;   outline: none;}
  .radioButton         {   grid-area: radioButton; grid-column:  1 / 2; grid-row: 2 / 3; padding: 3.6rem 0 0 0.5rem;   outline: none;}
  .projectMiddle       {   grid-area: projectMiddle; grid-row: 2 / 3; grid-column: 2 / 3; position: relative; }


  #toggleButton             { background-color: transparent; border : none; text-shadow: $mobile-text-shadow; color : white; }
  .turnOnTvButton           { font-size: 3vw; position: absolute; top : 44.7%; right: 23%; }
  .turnOnRadioButton        { font-size: 2vw; }
  .toggleScreenOn           { width: 110px; height:89px; position: absolute; top: 32%; left: 34%; border-radius: 17%; background-color: rgb(29, 29, 29);clip-path: polygon(50% 0%, 94% 0, 100% 45%, 100% 57%, 95% 98%, 50% 100%, 5% 98%, 0 55%, 0 41%, 6% 0);}
  .carousel-outer-controller{ width: 180px;  margin-left:1rem; }
  .tvCarouselWrapper h2     { font-size: 5.5vw;}
  .linkButton               { width: 20px; height: 20px; ; background : url('../../src/assets/logos/link.png') center center no-repeat; background-size: cover; border : none }
  .questionWrapper          { width : 100% ;margin : 2rem 0 0 2rem; color : white; text-shadow: $mobile-text-shadow;  }
  .radioTxtOff              { color: white; text-shadow: $mobile-text-shadow; opacity : 0;  transition: opacity .25s ease-in-out; font-size: 2vw; }
  .radioTxtOn               { color: white; text-shadow: $mobile-text-shadow; opacity : 1;  transition: opacity .25s ease-in-out; font-size: 2.5vw; }
  .radioTxtOff              { font-size: 3vw; }
  .radioTxtOn               { font-size: 3vw; }

  @media only screen and (device-width :  375px) and (device-height: 812px) and (-webkit-device-pixel-ratio : 3)  {
   
    
    .radioButton              { display: block; padding: 2.33rem 1.4rem 0 0;}
    .turnOnTvButton           { top : 45.3%; right: 17.7%; }
    .toggleScreenOn           { width: 132px; height:107px; position: absolute; top: 20%; left: 31.6%; border-radius: 17%; background-color: rgb(29, 29, 29);clip-path: polygon(50% 0%, 94% 0, 100% 45%, 100% 57%, 95% 98%, 50% 100%, 5% 98%, 0 55%, 0 41%, 6% 0);}
    .carousel-outer-controller{ width: 160px;  margin-left: 2rem; h2 { font-size: 7vw;} }
    .linkButton               { margin-bottom: 2.5rem; }
    .questionWrapper          { width : 100%; margin : 1rem 0 0 2rem;   }

  }
  @media only screen and (device-width :  375px) and (device-height: 812px) and (-webkit-device-pixel-ratio :2)  {
   
    
    .radioButton              { display: block; padding: 2.33rem 1.4rem 0 0;}
    .turnOnTvButton           { top : 45.3%; right: 17.7%; }
    .toggleScreenOn           { width: 132px; height:107px; position: absolute; top: 20%; left: 31.6%; border-radius: 17%; background-color: rgb(29, 29, 29);clip-path: polygon(50% 0%, 94% 0, 100% 45%, 100% 57%, 95% 98%, 50% 100%, 5% 98%, 0 55%, 0 41%, 6% 0);}
    .carousel-outer-controller{ width: 160px;  margin-left: 2rem; h2 { font-size: 7vw;} }
    .linkButton               { margin-bottom: 2.5rem; }
    .questionWrapper          { width : 100%; margin : 1rem 0 0 2rem;   }

  }


  @media only screen and ( min-height : 937px) {
  
    .radioButton              { display: block; }
    .turnOnTvButton           { top : 45.3%; right: 13.3%; }
    .toggleScreenOn           { width: 152px; height:123px; position: absolute; top: 9%; left: 28.9%; border-radius: 17%; background-color: rgb(29, 29, 29);clip-path: polygon(50% 0%, 94% 0, 100% 45%, 100% 57%, 95% 98%, 50% 100%, 5% 98%, 0 55%, 0 41%, 6% 0);}
    .carousel-outer-controller{ width: 160px;  margin-left: 2rem; h2 { font-size: 7vw;} }
    .linkButton               { margin-bottom: 5rem; }
    .questionWrapper          { width : 100%; margin : 0rem 0 0 2rem; h3 { width: 200px;}  }

  }



}  


@media only screen and (min-width: 412px) and (max-width: 414px) {

  .radioButton              { grid-area: radioButton; grid-column:  1 / 2; grid-row: 2 / 3; padding: 3.5rem 0 0 1rem}
  .turnOnTvButton           { top : 45%; right: 23.5%; }
  .turnOnRadioButton        { font-size: 2vw; }
  .toggleScreenOn           { width: 119px; height:98px; position: absolute; top: 27%; left: 35.7%; border-radius: 17%; background-color: rgb(29, 29, 29);clip-path: polygon(50% 0%, 94% 0, 100% 45%, 100% 57%, 95% 98%, 50% 100%, 5% 98%, 0 55%, 0 41%, 6% 0);}
  .carousel-outer-controller{ width: 180px;  margin-left: 2.5rem; }
  .linkButton               { margin-bottom: 1rem; }
  .radioTxtOff              { font-size: 2.5vw; }
  .radioTxtOn               { font-size: 2.5vw; }

  @media only screen and ( min-height : 846px)  { 
    .radioButton              {  padding: 3.3rem 0rem 0 0rem}
    .turnOnTvButton           { top : 45%; right: 19%; }
    .toggleScreenOn           { width: 138px; height:115px; top: 15%; left: 33%; border-radius: 17%; background-color: rgb(29, 29, 29);clip-path: polygon(50% 0%, 94% 0, 100% 45%, 100% 57%, 95% 98%, 50% 100%, 5% 98%, 0 55%, 0 41%, 6% 0);}
    .carousel-outer-controller{ width: 180px;  margin-left: 2.5rem; }
    .tvCarouselWrapper        { padding-bottom : 3.5rem }
    .questionWrapper          { margin : 1rem 0 0 3rem; h3 { font-size: 4.5vw;} }
    .leftSign                 { padding-top: 4rem;}
    .rightSign                 { padding-top: 4rem;}

  }


  @media only screen and ( min-height : 896px)  { 
    .radioButton              {  padding: 3.2rem 1rem 0 0rem}
    .turnOnTvButton           { top : 45.3%; right: 18%; }
    .toggleScreenOn           { width: 146px; height:118px; top: 13%; left: 32.5%; border-radius: 17%; background-color: rgb(29, 29, 29);clip-path: polygon(50% 0%, 94% 0, 100% 45%, 100% 57%, 95% 98%, 50% 100%, 5% 98%, 0 55%, 0 41%, 6% 0);}
    .carousel-outer-controller{ width: 180px;  margin-left: 2.5rem; }
    .tvCarouselWrapper        { padding-bottom : 3.5rem }
    .questionWrapper          { margin : 1rem 0 0 3rem; h3 { font-size: 4.5vw;} }
    .leftSign                 { padding-top: 4rem;}
    .rightSign                 { padding-top: 4rem;}

  }

  @media only screen and ( min-height : 937px) {
  
    .radioButton              { display : block; padding: 2.1rem 2rem 0 0;}
    .turnOnTvButton           { top : 45.3%; right: 15%; }
    .toggleScreenOn           { width: 152px; height:123px; position: absolute; top: 9%; left: 30.7%; border-radius: 17%; background-color: rgb(29, 29, 29);clip-path: polygon(50% 0%, 94% 0, 100% 45%, 100% 57%, 95% 98%, 50% 100%, 5% 98%, 0 55%, 0 41%, 6% 0);}
    .carousel-outer-controller{ width: 165px;  margin-left: 3.5rem; h2 { font-size: 7vw;} }
    .linkButton               { margin-bottom: 5rem; }
    .questionWrapper          { width : 100%; margin : 0rem 0 0 1.5rem; h3 { width: 200px;}  }
    .radioTxtOff              { font-size: 2.5vw; }
    .radioTxtOn               { font-size: 2.5vw; }
  }
 
  

}

@media only screen and (min-width: 768px) {

  .ProjectsGrid {
    display: grid;
    grid-template-columns: 50px 150px 1fr 150px 50px ;
    grid-template-rows: 1fr 150px 150px 1fr ;
    grid-template-areas: 
    'leftSign radioButton projectMiddle tvButton rightSign'
  

    ;
    width: 100%;
    height: 97vh;
    
  }

  .leftSign            {   grid-area: leftSign;       grid-row: 3 / 4; padding-top: 3rem;}
  .rightSign           {   grid-area: rightSign;      grid-row: 3 / 4; grid-column: 5 / 6; padding-top: 3rem;}
  .tvButton            {   grid-area: tvButton;       grid-row: 2 / 3; grid-column: 3 / 4;   }
  .radioButton         {   grid-area: radioButton;    grid-row: 2 / 3; grid-column: 2 / 3; padding: 4.8rem 0 0 5.2rem}
  .projectMiddle       {   grid-area: projectMiddle;  grid-row: 2 / 3; grid-column: 3 / 4; position: relative; }


  .turnOnTvButton           { font-size: 2.5vw; top : 44.8%; right: 30.5%; }
  .turnOnRadioButton        { font-size: 1.5vw; }
  .toggleScreenOn           { width: 168px; height:136px; position: absolute; top: 1.2%; left: 33.15%; border-radius: 17%; background-color: rgb(29, 29, 29);clip-path: polygon(50% 0%, 94% 0, 100% 45%, 100% 57%, 95% 98%, 50% 100%, 5% 98%, 0 55%, 0 41%, 6% 0);}
  .carousel-outer-controller{ width: 210px;  margin: 0 0 0rem 3.5rem; }
  .tvCarouselWrapper h2     { font-size: 5.5vw; }
  .linkButton               { width: 25px; height: 25px; margin-bottom: 7.8rem; ; background : url('../../src/assets/logos/link.png') center center no-repeat; background-size: cover; border : none }
  .questionWrapper          { width : 100% ;margin : 0rem 0 0 2rem; color : white; text-shadow: $mobile-text-shadow;  }

  @media only screen and ( min-height : 937px) {

  
    .radioButton              { padding: 3.7rem 0 0 4rem;}
    .turnOnTvButton           { top : 45.4%; right: 32.5%; font-size: 1.5vw; }
    .toggleScreenOn           { width: 152px; height:123px; top: 9%; left: 34.5%; }
    .carousel-outer-controller{ width: 170px;  margin-left: 5rem; }
    .tvCarouselWrapper h2     { font-size: 4vw; }
    .linkButton               { margin-bottom: 5rem; }
    .questionWrapper          { margin : 0rem 0 0 2rem;  }
    .radioTxtOff              { font-size: 2vw; }
    .radioTxtOn               { font-size: 2vw; }

  }

  @media only screen and ( min-height : 1024px ) {
  
    .radioButton              { padding: 3.2rem 0 0 2.6rem;}
    .turnOnTvButton           { top : 45.5%; right: 31%; font-size: 1.5vw; }
    .toggleScreenOn           { width: 170px; height:136px; top: 1.2%; left: 32.8%; }
    .carousel-outer-controller{ width: 170px;  margin: 0rem 0 0 5rem; }
    .tvCarouselWrapper h2     { font-size: 3vw; }
    .linkButton               { margin-bottom: 6.5rem; }
    .questionWrapper          { margin : 1rem 0 0 2rem; h3 { font-size: 3vw;} }
    .radioTxtOff              { font-size: 2.5vw; }
    .radioTxtOn               { font-size: 2.5vw; }
    .leftSign                 { padding-top: 5rem;}
    .rightSign                { padding: 5rem 3rem 0 0;}
  
  }


}

@media only screen and (min-width: 1024px) {

  .ProjectsGrid {
    display: grid;
    grid-template-columns: 50px 250px 1fr 250px 50px ;
    grid-template-rows: 1fr 250px 200px 1fr ;
    grid-template-areas: 
    'leftSign radioButton projectMiddle tvButton rightSign'
  

    ;
    width: 100%;
    height: 97vh;
    
  }

  .leftSign            {   grid-area: leftSign;       grid-row: 3 / 4; padding-top: 5rem;}
  .rightSign           {   grid-area: rightSign;      grid-row: 3 / 4; grid-column: 5 / 6; padding: 5rem 3rem 0 0;}
  .tvButton            {   grid-area: tvButton;       grid-row: 2 / 3; grid-column: 3 / 4;  }
  .radioButton         {   grid-area: radioButton;    grid-row: 2 / 3; grid-column: 2 / 3; padding: 8.5rem 0 0 6.5rem}
  .projectMiddle       {   grid-area: projectMiddle;  grid-row: 2 / 3; grid-column: 3 / 4; position: relative; }


  .turnOnTvButton           { font-size: 2.5vw; top : 44.8%; right: 30.5%; }
  .turnOnRadioButton        { font-size: 1.5vw; }
  .toggleScreenOn           { width: 228px; height:183px; position: absolute; top: 12%; left: 30.30%; border-radius: 17%; background-color: rgb(29, 29, 29);clip-path: polygon(50% 0%, 94% 0, 100% 45%, 100% 57%, 95% 98%, 50% 100%, 5% 98%, 0 55%, 0 41%, 6% 0);}
  .carousel-outer-controller{ width: 218px;  margin: 0 0 0rem 5.5rem; }
  .tvCarouselWrapper h2     { font-size: 4.5vw; }
  .linkButton               { width: 40px; height: 40px; margin-bottom: 6.8rem; ; background : url('../../src/assets/logos/link.png') center center no-repeat; background-size: cover; border : none }
  .questionWrapper          { width : 100% ;margin : 1.5rem 0 0 2.5rem;   h3 { font-size: 4vw; width: 250px;}  }

  @media only screen and ( min-height : 768px) {
  
    .radioButton              { padding: 10.1rem 0 0 15.6rem;}
    .turnOnTvButton           { top : 44.8%; right: 38.7%; font-size: 1vw; }
    .toggleScreenOn           { width: 140px; height:110px; top: 40.5%; left: 37%; }
    .carousel-outer-controller{ width: 170px;  margin: 3.7rem 0 0 6.5rem; }
    .tvCarouselWrapper h2     { font-size: 2.5vw; }
    .linkButton               { width: 25px; height: 25px; margin-bottom: 0rem; }
    .questionWrapper          { margin : 3.5rem 0 0 0rem; h3 { font-size: 2.5vw;} }

  }


  @media only screen and ( min-height : 937px) {
  
    .radioButton              { padding: 5rem 0 0 13.2rem;}
    .turnOnTvButton           { top : 44.2%; right: 37.3%; font-size: 1.5vw; }
    .toggleScreenOn           { width: 152px; height:123px; top: 35.4%; left: 36.3%; }
    .carousel-outer-controller{ width: 170px;  margin: 2rem 0 0 6.5rem; }
    .tvCarouselWrapper h2     { font-size: 3vw; }
    .linkButton               { width : 35px; height : 35px;margin-bottom: 0rem; }
    .questionWrapper          { margin : 3.5rem 0 0 0rem; h3 { font-size: 2.5vw;} }
    .radioTxtOff              { font-size: 1.5vw; }
    .radioTxtOn               { font-size: 1.5vw; }
  }

  @media only screen and ( min-height : 1366px ) {
  
    .radioButton              { padding: 5.7rem 0 0 2.5rem;}
    .turnOnTvButton           { top : 45%; right: 32%; font-size: 1.5vw; }
    .toggleScreenOn           { width: 226px; height:185px; top: 11.7%; left: 30.5%; }
    .carousel-outer-controller{ width: 170px;  margin: 0rem 0 0 7rem; }
    .tvCarouselWrapper h2     { font-size: 3vw; }
    .linkButton               { width : 35px; height : 35px; margin-bottom:5rem; }
    .questionWrapper          { margin : 3.5rem 0 0 0rem; h3 { font-size: 2.5vw;} }
    .radioTxtOff              { font-size: 2.5vw; }
    .radioTxtOn               { font-size: 2.5vw; }
  }
 
}


@media only screen and (min-width: 1280px) {

  .ProjectsGrid {
    display: grid;
    grid-template-columns: 50px 1fr 1fr 1fr 50px ;
    grid-template-rows: 1fr 250px 200px 1fr ;
    grid-template-areas: 
    'leftSign radioButton projectMiddle tvButton rightSign'
  

    ;
    width: 100%;
    height: 97vh;
    
  }

  .leftSign            {   grid-area: leftSign;       grid-row: 3 / 4; padding: 5rem 8rem;}
  .rightSign           {   grid-area: rightSign;      grid-row: 3 / 4; grid-column: 4 / 5; padding: 5rem 3rem 0 0;}
  .tvButton            {   grid-area: tvButton;       grid-row: 2 / 3; grid-column: 3 / 4;  }
  .radioButton         {   grid-area: radioButton;    grid-row: 2 / 3; grid-column: 2 / 3; padding: 8rem 0 0 8rem}
  .projectMiddle       {   grid-area: projectMiddle;  grid-row: 2 / 3; grid-column: 3 / 4; position: relative; }
 
  @media only screen and ( min-height : 720px) {
    .radioButton              { padding: 0rem 0 0  19.4rem; font-size: 1vw;}
    .toggleScreenOn           { width: 168px; height:138px; top: 28.5%; left: 35.2%; }
    .turnOnTvButton           { top : 41.5%; right: 38.9%; font-size: 1.1vw; }
    .questionWrapper h3       { margin-top : 0rem;  font-size: 2vw;  width: 250px; }
    .questionWrapper          { padding-top : 5.5rem;  margin-left: 0 !important; }

    .tvCarouselWrapper h2     { margin-top : 0rem;font-size: 2.3vw; padding-right: 1rem;}
    .linkButton               { margin: 0 1rem  0rem 0 !important;}
    .projectMiddle            { padding-top: 2.5rem;   }
    .rightSign                { padding: 5rem 0 0 5rem !important;}

  }
  @media only screen and ( min-height : 937px) {
  
    .radioButton              { padding: 4.9rem 0 0 19.4rem; font-size: 1vw;}
    .turnOnTvButton           { top : 43.5%; right: 38.9%; font-size: 1.1vw; }
    .toggleScreenOn           { width: 168px; height:138px; top: 29.5%; left: 35.2%; }
    .carousel-outer-controller{ width: 200px;  margin: 2rem 0 0 5.5rem; }
    .tvCarouselWrapper h2     { font-size: 3vw; }
    .linkButton               { width : 30px; height : 30px; margin-bottom: 1.5rem; }
    .questionWrapper          { margin : 3.5rem 0 0 1.5rem; h3 { font-size: 2.5vw;} }
    .radioTxtOff              { font-size: 1.7vw; }
    .radioTxtOn               { font-size: 1.7vw; }
  }


}
  

@media only screen and (min-width: 1366px) {
  @media only screen and ( min-height : 937px) {
  
    .radioButton              { padding: 4.9rem 0 0 21.3rem; font-size: 1vw;}
    .turnOnTvButton           { top : 43.7%; right: 39.2%; font-size: 1.2vw !important; }
    .toggleScreenOn           { width: 180px; height:145px; top: 25.8%; left: 35.2%; }
    .carousel-outer-controller{ width: 200px;  margin: 2rem 0 0 6.5rem; }
    .tvCarouselWrapper h2     { font-size: 2.5vw; }
    .linkButton               { width : 35px; height : 35px; margin-bottom: 1.8rem; }
    .questionWrapper          { margin : 3.5rem 0 0 1.5rem; h3 { font-size: 2.5vw;} }
    .radioTxtOff              {  font-size: 1.5vw; }
    .radioTxtOn               {  font-size: 1.5vw; }
  } 
}


@media only screen and (min-width: 1440px) {
  @media only screen and ( min-height : 937px) {
  
    .radioButton              { padding: 5.8rem 0 0 22.7rem; font-size: 1vw;}
    .turnOnTvButton           { top : 43.3%; right: 39.1%; font-size: 1.1vw; }
    .toggleScreenOn           { width: 190px; height:155px; top: 22.2%; left: 35.2%; }
    .carousel-outer-controller{ width: 240px;  margin: 1.5rem 0 0 6rem; }
    .tvCarouselWrapper h2     { font-size: 3vw; }
    .questionWrapper          { margin : 4rem 0 0 2.5rem; h3 { font-size: 2.5vw;} }
    .radioTxtOff              {  font-size: 1vw; }
    .radioTxtOn               {  font-size: 1vw; }
    .linkButton               { width: 40px; height: 40px; }

  } 
}


@media only screen and (min-width: 1600px) {
  @media only screen and ( min-height : 937px) {
  
    .radioButton              { padding: 4.8rem 0 0 25.7rem; font-size: 1vw;}
    .turnOnTvButton           { top : 42.7%; right: 39.2%; font-size: 1.1vw; }
    .toggleScreenOn           { width: 211px; height:170px; top: 14.5%; left: 35.4%; }
    .carousel-outer-controller{ width: 225px;  margin: 1rem 0 0 8rem; }
    .tvCarouselWrapper h2     { font-size: 3vw; }
    .questionWrapper          { margin : 5rem 0 0 2.5rem; h3 { font-size: 2.5vw;} }

  } 
}

@media only screen and (min-width: 1660px) {
  @media only screen and ( min-height : 937px) {
  
    .radioButton              { padding: 8rem 0 0 25.9rem; font-size: 1vw;}
    .turnOnTvButton           { top : 43.2%; right: 38.8%; font-size: 1.1vw; }
    .toggleScreenOn           { width: 221px; height:177px; top: 11.8%; left: 35.4%; }
    .carousel-outer-controller{ width: 230px;  margin: 1rem 0 0 9rem; }
    .tvCarouselWrapper h2     { font-size: 3vw; }
    .questionWrapper          { margin : 5rem 0 0 2.5rem; h3 { font-size: 2vw;} }

  } 
}

@media only screen and (min-width: 1680px) {
  
  
  @media only screen and ( min-height : 937px) {
    .rightSign                {   grid-area: rightSign;      grid-row: 3 / 4; grid-column: 4 / 5; padding: 5rem 0 0 5rem;}
    .leftSign                 {   grid-area: leftSign;       grid-row: 3 / 4; padding: 5rem 15.5rem;}

    .radioButton              { padding: 1.5rem 0 0 32rem; font-size: 1vw;   outline: none;}
    .turnOnTvButton           { top : 41.5%; right: 39.15%; font-size: 1.1vw; }
    .toggleScreenOn           { width: 255px; height: 205px; top: -.5%; left: 35.4%; }
    .carousel-outer-controller{ width: 225px;  margin: 0rem 0 0 12rem; }
    .tvCarouselWrapper h2     { font-size: 2.5vw; padding: 0 !important; }
    .questionWrapper          { margin : 3rem 0 0 2rem !important; h3 { font-size: 2vw;} }
    .linkButton               { width: 50px; height: 50px; margin-bottom: 2.5rem; }
    .projectMiddle            { padding-top: 0rem;   }

    .radioTxtOff              { font-size: 1.45vw; }
    .radioTxtOn               { font-size: 1.45vw; }
  
  } 
}